

extends layout1
block content
    .panel.panel-info
        #{photoMessage}
            if photoMessage
                .panel-body
                    .imagesDoc
                            img(src= "/uploads/" + application.full_name.replace(/ +/g, "") + application.document_number + "/photo.png" , height="300px")
                            img(src= "/uploads/" + application.full_name.replace(/ +/g, "") + application.document_number + "/travelDocPhoto.png" , height="500px")
                            img(src= "/uploads/" + application.full_name.replace(/ +/g, "") + application.document_number + "/supportingDocument2.png" , height="500px")
            else
                .panel-body
                    .alert.alert-dismissible.alert-danger
                        button.close(type='button', data-dismiss='alert')
                        strong ALERT : NO REQUESTED DOCUMENTS UPLOADED
    .btn-group.pull-right
        a.btn.btn-success(href='#') APPROVE REQUEST
    .btn-group.pull-right
        a.btn.btn-primary(href='#') DENY REQUEST
    .panel.panel-info
        .panel-heading
            h3.panel-title #{application.title} &nbsp; &nbsp; #{application.full_name}
        .panel-body
            -var dob = (application.date_of_birth).substring(0,10)
            -var issueDate = (application.document_date_of_issue).substring(0,10)
            -var docexpiry = (application.document_expiry_date).substring(0,10)
            -var appDate = (application.application_date).substring(0,10)
            table.table.table-striped.table-hover
                thead
                    tr
                        th Ref. number:
                        th Application date:
                        th Application status:
                        th Date of birth:
                        th Place of birth:
                tbody
                    tr
                        td.h5 #{application.reference_number}
                        td.h5 #{appDate}
                        td.h5 #{application.assessment_status}
                        td.h5 #{dob}
                        td.h5 #{application.country_of_birth}
                thead
                    tr
                        td Country of birth:
                        td Nationality:
                        td Current Address:
                        td Country:
                        td Contact number:
                tbody
                    tr
                        td.h5 #{application.country_of_birth}
                        td.h5 #{application.nationality}
                        td.h5 #{application.home_address} , &nbsp; #{application.city} , &nbsp; #{application.postcode}
                        td.h5 #{application.country}
                        td.h5 #{application.contact_no}

                thead
                    tr
                        td email:
                        td Occupation:
                        td Document type:
                        td Document number:
                        td Document date of issue:
                tbody
                    tr
                        td.h5 #{application.email}
                        td.h5 #{application.occupation}
                        td.h5 #{application.document_type}
                        td.h5 #{application.document_number}
                        td.h5 #{issueDate}
                thead
                    tr
                        td Document expiry:
                        td Document country of issue:
                        td Contact address:
                tbody
                    tr
                        td.h5 #{docexpiry}
                        td.h5 #{application.document_country_of_issue}
                        td.h5 #{application.contact_address_in_ethiopia}
